body {
    font-family: Arial, sans-serif;
    margin: 50px;
}

.container {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
}

.result {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
}

.heading{
    font-weight: bold;
}

#temperature{
    
}